<header> 
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid" style="font-weight: 900;">
      <a class="navbar-brand" href="#" style="color: orange; font-weight: 900;">SUBXSUB</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/points.php">EARN POINTS</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="/view/movies.php">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../blog/index.html">Blogs</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="../yt/index.html">Youtube Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="upload2.php">UPLOAD</a>
          </li>
          </ul>
         <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
            <a class="nav-link" style="font-weight: 900;" href="../logout.php"><mark>LOGOUT</mark></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>